<!DOCTYPE html>
<html>
  <head>
    <title>Schedario</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <body>
       
         
        <nav>
          <% if user_signed_in? %>
            <%= link_to "Create Document", new_doc_path %>
            <%= link_to "Sign Out", destroy_user_session_path %>
          <% else %>
            <%= link_to "Log In", new_user_session_path %>
          <% end %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
        </nav>
      
    </body>
  </head>

    <%= yield %>

</html>
